[connections.gsheets]
spreadsheet = "https://docs.google.com/spreadsheets/d/19K3Lp4Da5XveWRw8usW51rc6EYUqe_YgRkVDzz2ZInA/edit?gid=0#gid=0"
worksheet = "Sheet1"  # worksheet GID is used when using Public Spreadsheet URL, when usign service_account it will be picked as folder_id
type = ""  # leave empty when using Public Spreadsheet URL, when using service_account -> type = "service_account"
project_id = ""
private_key_id = ""
private_key = ""
client_email = ""
client_id = ""
auth_uri = ""
token_uri = ""
auth_provider_x509_cert_url = ""
client_x509_cert_url = ""